// Font
$mainFont: 'Proxima Nova Regular', Helvetica, Arial, sans-serif;
// Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;
// @media
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
// Main color
$light-color:  #fff;
$phon-color:  #5f49cf;
$phon-light-color: #8a78e2;
$mark-color:  #ff8b00;
$extra-phon-color: #f8f8f8;
$dark-phon-color: #363636;
$text-color: #878787;